<md-grid-list cols="2">
    <md-grid-tile [colspan]="1" [style.background]="'lightgreen'">
      <md-card class="carteami">
        <md-card-title-group>
            <img md-card-sm-image src="../images/profil.png">
            <md-card-title>Prenom NOM</md-card-title>
            <md-card-subtitle>Subtitle</md-card-subtitle>
        </md-card-title-group>
      </md-card>
      <md-card class="carteami">
        <md-card-title-group>
            <img md-card-sm-image src="../images/profil.png">
            <md-card-title>Prenom NOM</md-card-title>
            <md-card-subtitle>Subtitle</md-card-subtitle>
        </md-card-title-group>
      </md-card>
    </md-grid-tile>
    <md-grid-tile [colspan]="1" [style.background]="'lightgreen'">
      <md-card class="carteami">
        <md-card-title-group>
            <img md-card-sm-image src="../images/profil.png">
            <md-card-title>Prenom NOM</md-card-title>
            <md-card-subtitle>Subtitle</md-card-subtitle>
        </md-card-title-group>
      </md-card>
      <md-card class="carteami">
        <md-card-title-group>
            <img md-card-sm-image src="../images/profil.png">
            <md-card-title>Prenom NOM</md-card-title>
            <md-card-subtitle>Subtitle</md-card-subtitle>
        </md-card-title-group>
      </md-card>
    </md-grid-tile>
  </md-grid-list>